<section>
  <h1>Welcome back, {{user.first_name}}</h1>
  <a href="/users/logout">Log Out</a>
  <hr />
  <a href="/recipes/0"><button>All Recipes</button></a>
  <hr />
  <form action="/recipes">
    Search:<br>
    <input type="text" name="search-input" value="" placeholder="Search Recipes"><br>
    <button>Enter</button>
  </form>
</section>
